$font-family-sans-serif: 'Poppins', 'Helvetica Neue', Helvetica, Arial,
  sans-serif;

$line-height-base: 2;

//$text-color: #58595b;

$headings-font-family: 'Poppins' !important;
$headings-font-weight: 700;

$headings-line-height: 1.25;
