@import 'colors';
@import 'variables';

//$headings-color: $text-color;

@import '~bootstrap/scss/bootstrap.scss';

.navbar {
  min-height: 64px !important;

  .nav-link {
    cursor: pointer !important;

    &:not(.btn) {
      color: inherit !important;
    }
  }
}
.lead {
  @media (max-width: 576px) {
    font-size: 1rem;
  }
}
.yellow-text {
  color: #f7b343;
}
.nunito {
  font-family: 'Nunito Sans';
}
.rc-slider {
  &-disabled {
    background-color: transparent !important;
  }

  &-track {
    background-color: $secondary !important;
  }

  &-rail {
    background-color: #e8f1fc !important;
  }

  &-handle {
    border-color: $primary !important;

    &:hover,
    &:active {
      box-shadow: 0 0 5px $secondary !important;
    }

    &:focus {
      box-shadow: 0 0 0 5px $secondary !important;
    }
  }
}

.CircularProgressbar-path {
  stroke: #84c187 !important;
}

.CircularProgressbar-trail {
  stroke: $light !important;
}

.CircularProgressbar-text {
  fill: $primary !important;
  font-size: xx-large;
}

.CircularProgressbar-background {
  fill: $light !important;
}
