@import "src/styles/colors";
@import "src/styles/variables";

.banner {
  background: url("/img/Path_483.png") right,
    linear-gradient(110deg, #4495aa 0%, #6acee5 100%);
  background-repeat: no-repeat, no-repeat;

  background-size: initial, contain;
}
.nav-link {
  font-family: Nunito Sans;
}

.description {
  font-size: 1.5rem;
  font-family: "Nunito Sans";
  line-height: 2.375rem;
  color: #5a6569;
}
.heading {
  font-weight: 700;
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 4.0625rem;
}
.sub-section-heading {
  font-size: 2.8125rem;
  font-weight: 400;
  line-height: 55px;
  padding-bottom: 2rem;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header {
  background: transparent;
}
.header.active {
  background: linear-gradient(110deg, #4495aa 0%, #6acee5 100%);
  color: black;
  transition: all;
  //  height: 70px;
}
.needs {
  font-family: "Dosis", sans-serif;
}
.need {
  background-color: red($color: #37a86f);
}
.card-red {
  background-color: rgb(141, 215, 228);
}
.black {
  background-color: black;
}
